@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reset {
  }

  .asH1 {
    @apply font-title font-bold text-6xl mt-3 mb-3 text-neutral-text-high;
  }

  .asH2 {
    @apply font-heading font-bold text-4xl mt-3 mb-3 text-neutral-text-high;
  }

  .asH3 {
    @apply font-heading font-bold text-2xl mt-3 mb-3 text-neutral-text-high;
  }

  .asH4 {
    @apply font-heading font-bold mt-3 mb-3 text-neutral-text-high;
  }

  .asH5 {
    @apply font-heading mt-3 mb-3 text-neutral-text-high;
  }

  .asP {
    @apply mt-1 mb-1 text-neutral-text-high;
  }

  .asLi {
    @apply list-item text-neutral-text-high;
  }

  .asOl {
    @apply ml-8 list-decimal;
  }

  .asUl {
    @apply ml-8 list-disc;
  }

  .asInput {
    @apply text-neutral-text-high;
  }

  .asTextInput {
    /*  */
    @apply outline-none rounded-md pl-2 pr-2 pt-1 pb-1 border-2 max-sm:min-w-full 
      text-neutral-text-high placeholder:text-neutral-text-medium
      bg-neutral-background-interactive-default border-neutral-border-high
      hover:bg-neutral-background-interactive-hover hover:border-primary-border-interactive-hover
      focus:focus-visible:bg-neutral-background-interactive-default focus:focus-visible:border-primary-border-interactive-active
      disabled:bg-neutral-background-interactive-disabled disabled:border-neutral-border-interactive-disabled;
  }

  .asButton {
    /* disabled:bg-primary-300 disabled:border-primary-300 disabled:text-black-900 */
    @apply text-primary-text-interactive-default border-4
            disabled:cursor-auto disabled:bg-neutral-background-interactive-disabled disabled:text-neutral-text-interactive-disabled
            shadow active:shadow-none transition-colors
            px-4 py-3 rounded-md text-base font-semibold cursor-pointer m-0.5;
  }

  .asButton:not(.secondary):not(.tertiary) {
    /* bg-primary-600 hover:border-primary-500 active:bg-primary-600 border-primary-600 active:border-primary-600 */
    @apply text-primary-text-interactive-default 
      bg-primary-background-interactive-default border-primary-border-interactive-default
      hover:bg-primary-background-interactive-hover hover:border-primary-border-interactive-hover
      active:bg-primary-background-interactive-active;
  }

  .asButton.secondary {
    /* bg-black-400 border-black-400 text-white hover:border-black-600*/
    @apply font-normal text-base text-neutral-text-high
    bg-neutral-background-interactive-default border-primary-border-interactive-default 
    hover:bg-neutral-background-interactive-hover hover:border-primary-border-interactive-hover
    ring-offset-neutral-background-low focus:ring-2 focus:ring-primary-border-interactive-default ring-offset-2 outline-none;
  }

  .asButton.tertiary {
    /* text-primary-700 dark:text-white */
    @apply text-neutral-text-high
      bg-neutral-background-interactive-default border-neutral-border-medium
      hover:border-primary-border-interactive-hover
      focus:focus-visible:bg-neutral-background-interactive-default focus:focus-visible:border-primary-border-interactive-active
      disabled:bg-neutral-background-interactive-disabled disabled:border-neutral-border-interactive-disabled
      active:bg-primary-background-interactive-active;

  }

  .asLink {
    @apply text-neutral-text-high decoration-neutral-text-dark-onbackground hover:bg-neutral-background-interactive-hover decoration-2 decoration-solid cursor-pointer underline;
  }

  .asLabel {
    @apply text-neutral-text-medium;
  }

  .asFigCaption {
    @apply text-neutral-text-high italic tracking-tight;
  }
}

@layer base {
  /* START | Generated functional colors */
  :root {
    {{#each light}}
    {{name}}: {{value}};
    {{/each}}
  }
  
  .enable-darkmode {
    {{#each dark}}
    {{name}}: {{value}};
    {{/each}}
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      {{#each dark}}
      {{name}}: {{value}};
      {{/each}}
    }
  }
  /* END | Generated functional colors */

  .enable-darkmode {
    @apply bg-neutral-background-low
  }

  body:where(:not(.reset)) {
    /* bg-white dark:bg-black-900 */
    @apply bg-neutral-background-low text-lg font-body;
  }

  h1:where(:not(.reset)) {
    @apply asH1;
  }

  h2:where(:not(.reset)) {
    @apply asH2;
  }

  h3:where(:not(.reset)) {
    @apply asH3;
  }

  h4:where(:not(.reset)) {
    @apply asH4;
  }

  h5:where(:not(.reset)) {
    @apply asH5;
  }

  li:where(:not(.reset)) {
    @apply asLi;
  }

  p:where(:not(.reset)) {
    @apply asP;
  }

  ul:where(:not(.reset)) {
    @apply asUl;
  }

  ol:where(:not(.reset)) {
    @apply asOl;
  }

  ul ul:where(:not(.reset)) {
    list-style-type: circle;
  }

  input:where(:not(.reset)) {
    @apply asInput;
  }

  button:where(:not(.reset)) {
    @apply asButton;
  }

  label:where(:not(.reset)) {
    @apply asLabel;
  }

  input[type='text']:where(:not(.reset)) {
    @apply asTextInput;
  }

  input[type='email']:where(:not(.reset)) {
    @apply asTextInput;
  }

  input[type='password']:where(:not(.reset)) {
    @apply asTextInput;
  }

  input[type='url']:where(:not(.reset)) {
    @apply asTextInput;
  }

  input[type='search']:where(:not(.reset)) {
    @apply asTextInput;
  }

  input[type='button']:where(:not(.reset)) {
    @apply asButton;
  }

  input[type='reset']:where(:not(.reset)) {
    @apply asButton;
  }

  input[type='submit']:where(:not(.reset)) {
    @apply asButton;
  }

  img {
    @apply text-neutral-text-high;
  }

  figcaption:where(:not(.reset)) {
    @apply asFigCaption;
  }

  a:where(:not(.reset)) {
    @apply asLink;
  }

  th:where(:not(.reset)) {
    @apply asP;
  }



  @font-face {
    font-family: 'SuperiorTitle';
    src: url('https://nntn.nl/font/SuperiorTitle/SuperiorTitle-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'SuperiorTitle';
    src: url('https://nntn.nl/font/SuperiorTitle/SuperiorTitle-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SuperiorTitle';
    src: url('https://nntn.nl/font/SuperiorTitle/SuperiorTitle-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: bold;
    src: 
      url('https://nntn.nl/font/Geologica/Geologica-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: normal;
    src: 
      url('https://nntn.nl/font/Geologica/Geologica-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-Thin.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-Thin.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-ThinItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-ThinItalic.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-ExtraLight.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-ExtraLight.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-ExtraLightItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-ExtraLightItalic.woff?v=3.15')
        format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-Light.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-Light.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-LightItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-LightItalic.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-Regular.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-Regular.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-Italic.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-Italic.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-Medium.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-Medium.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-MediumItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-MediumItalic.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-SemiBold.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-SemiBold.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-SemiBoldItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-SemiBoldItalic.woff?v=3.15')
        format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-Bold.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-Bold.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-BoldItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-BoldItalic.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-ExtraBold.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-ExtraBold.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-ExtraBoldItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-ExtraBoldItalic.woff?v=3.15')
        format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-Black.woff2?v=3.15') format('woff2'),
      url('https://nntn.nl/font/Inter-Black.woff?v=3.15') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url('https://nntn.nl/font/Inter-BlackItalic.woff2?v=3.15')
        format('woff2'),
      url('https://nntn.nl/font/Inter-BlackItalic.woff?v=3.15') format('woff');
  }
}
